
{% extends 'base.html'%}
{% block content %}
{% load static %}
<link href="static/img/favicon.ico" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .row {
  display: flex;
  flex-wrap: wrap;
}
h1{
        color: var(--light);
    }
    /* modal */
    h2{
                color:var(--primary);
                margin-left: 200px;
                top:0;
            }

    .modal p{
        color: black;
        font-weight: 600;
    }

        .modal {
            top: 50%;
            
            transform: translate(-50%, -50%);
            display: none;
            position: fixed;
            z-index: 9999;
            width: 500px;
            height: 450px;
            overflow: hidden;
            border-radius: 10px 10px 10px 10px;
            box-shadow: -1px -1px 4px #aaa9a9a2,
              1px 1px 7px rgba(147, 149, 151, 0.671);
              justify-content: center;
              align-content: center;
            }
        .modal1{
            left: 50%;

        }
        .modal2{
            left: 75%;
        }
        .modal3{
            left: 25%;
        }
        .modal4{
            left: 50%;
        }
        .modal-content {
            background: var(--light);
            margin: auto;
            padding: 0px;
            width: 100%;
            max-width: 600px;
            min-height: 800px;
            margin-left: 100px;
            }

        
        @media screen and (min-width:900px) and (max-width: 1200px) {
            .modal{
                width:100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .modal-content {
                width: 100%;
                max-width: 400px;
            }
           
            }
        @media screen and (min-width:400px) and (max-width: 900px) {
            .modal{
                width:400px;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
            }
            .modal-content {
                width: 100%;
                max-width: 500px;
            }
            .modal-content h2{
                margin-left: 10px;
            }
            }

        @media screen and (min-width:300px) and (max-width: 450px) {
            .modal{
                width:300px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
                
            .modal-content {
               
                width: 100%;
                max-width: 500px;
            }
            .modal-content h2{
                margin-left: 10px;
            }
            
            } 


/* Styles for the columns on small screens */
@media (max-width: 576px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Styles for the columns on medium screens */
@media (min-width: 576px) and (max-width: 768px) {
  .col-md-4 {
    width: 50%;
    margin-bottom: 10px;
  }
}

/* Styles for the columns on large screens */
@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33%;
    margin-bottom: 0;
  }
}
.service-item h5{
    color: #181d38;
}

.about{
        width: 50%; 
        justify-content: center; 
        margin-left: 300px;
    }
    .videoblock{
        min-height: 400px; 
        justify-content: center; 
        margin-left: 300px;
    }
    .video-carousel .carousel-item{
        width: 300px ;
        height:300px;

    }
    
@media screen and (min-width:900px) and (max-width: 1390px) {
    .about{
        width: 50%; 
        justify-content: center; 
        margin-left: 300px;
    }
    .videoblock{
        min-height: 400px; 
        justify-content: center; 
        margin-left: 300px;
    }
    .video-carousel .carousel-item{
        width:200px ;
        height:300px;

    }
    }
 @media screen and (min-width:400px) and (max-width: 900px) {
    .about{
        width: 100%; 
        justify-content: center; 
        margin-left: 0px;
    }
    .videoblock{
        min-height: 400px; 
        justify-content: center; 
        margin-left: 0px;
    }
    .video-carousel .carousel-item{
        width:200px ;
        height:200px;

    }

 }
    @media screen and (min-width:280px) and (max-width: 450px) {
        .about{
        width: 100%; 
        justify-content: center; 
        margin-left: 0px;
    }
    .videoblock{
        min-height: 400px; 
        justify-content: center; 
        margin-left: 0px;
    }
    .video-carousel .carousel-item{
        width:150px ;
        height:200px;

    }
    }
    .about-section p{
        text-align: justify; 
        text-justify: distribute; 
        font-size: 17px; 
        color: var(--light);
        line-height: 2rem;
    }
</style>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container  py-0 ">
            <nav class ="breadcrumb" aria-label="breadcrumb justify-content-right" >
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index'  %}">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h6 class="section-title bg-dark text-center text-primary px-3">About Us</h6>
                    <h1 class="mb-0">Welcome to Altos Institute</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
  
<div class="container-xxl py-5">
    <div class="container about-section mb-5">
        <div class="row g-5">
            <!-- <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">About Us</h6>
                <h1 class="mb-0">Welcome to Altos Institute</h1>
            </div> -->
            <div class="col-lg-12 wow fadeInUp justify-content-center" data-wow-delay="0.3s">
                
                <p class="mt-1 p-1" >
                    Welcome to Altos Eduhub, the best software training company in Kochi, Kerala. We are a
                    subsidiary of Altos Technologies, a well-known software development company in Kochi. At
                    Altos Eduhub, we provide comprehensive on-the-job training programs to help graduates gain
                    the skills and experience they need to secure a job in the software industry.
                    
                <p class="my-2 p-1">
                    Our training programs cover a range of topics, including Python, React JS, front-end
                    development, digital marketing, and REST API. Our goal is to equip our students with the
                    knowledge and practical experience they need to succeed in today's competitive job market.</p>
                <p class="my-2 p-1">
                    As the best software training company in Kochi, we take great pride in our team of experienced
                    instructors who are passionate about teaching and helping students achieve their goals. Our
                    training programs are designed to be hands-on, with a focus on real-world applications and
                    practical experience.</p>
                <p class="mb-4 p-1">
                    At Altos Eduhub, we are committed to providing our students with the best possible training
                    experience. Our state-of-the-art facilities are equipped with the latest technology, and our
                    curriculum is constantly updated to reflect the latest industry trends and best practices.
                    We look forward to helping you achieve your career goals and become a part of the thriving
                    software industry.
                </p>                
                
                
            </div>
        </div>
    </div>
        <div class="col-lg-6 wow fadeInUp videoblock" data-wow-delay="0.1s" >
            <div class="position-relative h-100">
                <div id="video-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <iframe id="video1" width="100%" height="300px" src="{% static 'img/v1.mp4' %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; loop;" allowfullscreen></iframe>
                          </div>
                      <!-- <div class="carousel-item">
                        <iframe id="video1" width="100%" height="300px" src="https://www.youtube.com/embed/cdZHQFCqK3g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; muted; loop;" allowfullscreen></iframe>
                       </div>
                      <div class="carousel-item">
                        <iframe id="video1" width="100%" height="300px" src="https://www.youtube.com/embed/Fy5cFfdZ4p4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; muted; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                      </div> -->
                    </div>
                  </div>
                
        
                  <a class="carousel-control-prev" href="#video-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#video-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                <!-- <img class="img-fluid position-absolute w-100 h-100" src="static/img/about.jpg" alt="" style="object-fit: cover;"> -->
            </div>
        </div>

</div> 
<!-- About End -->

<!-- Service Start -->
<style>
    .service-section p{
        text-align: justify; 
        text-justify:distribute-all-lines; font-size: 15px; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          
    }
    .large-screen {
        display: block;
        }

        .small-screen {
        display: none;
        }
    
        @media screen and (min-width:400px) and (max-width: 900px) {
            .large-screen {
        display: none;
        }

        .small-screen {
        display: block;
        }

 }
    @media screen and (min-width:280px) and (max-width: 450px) {
        .large-screen {
        display: none;
        }

        .small-screen {
        display: block;
        }
    }
</style>
<div class="container-xxl py-0">
    <div class="container service-section large-screen">

        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig mt-3 px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase animated slideInDown m-2 p-5" style="color: var(--primary);">50+ Faculties
                    <br><small>We have 50+ internal/external working Faculties from IT companies.</small></h6>
              </div>  
            <div class="col-lg-6 col-md-6 wow fadeInRightBig px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center" >Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div>  
        </div>
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center" >Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInRightBig mt-3 px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase animated slideInDown m-2 p-5" style="color: var(--primary);">Skill-based, hands-on learning <br><small>
                    with Expert guidance
                </small></h6>
            </div>  
              
        </div>
        <div class="row m-0 p-0 ">
             
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig mt-3 px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase m-2 p-5 animated slideInDown " style="color: var(--primary);">20K+ Students<br><small>have been studied and placed.</small></h6>
            </div>  
            <div class="col-lg-6 col-md-6 wow fadeInRightBig px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center">Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div> 
        </div>
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig my-0 px-0 py-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center" >Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div> 
            <div class="col-lg-6 col-md-6 wow fadeInRightBig my-0 mt-3 px-0 py-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase justify-content-center m-2 p-5" style="color: var(--primary);">Live online classes <br><small>allow students to interact with their instructors in real time</small> </h6>
            </div>  
            
        </div>
    </div>



    <div class="container service-section small-screen">

        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig mt-3 px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase animated slideInDown m-2 p-5" style="color: var(--primary);">50+ Faculties
                    <br><small>We have 50+ internal/external working Faculties from IT companies.</small></h6>
              </div>  
            <div class="col-lg-6 col-md-6 wow fadeInRightBig px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center" >Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div>  
        </div>
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 wow fadeInRightBig mt-3 px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase animated slideInDown m-2 p-5" style="color: var(--primary);">Skill-based, hands-on learning <br><small>
                    with Expert guidance
                </small></h6>
            </div>  
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center" >Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div>
            
              
        </div>
        <div class="row m-0 p-0 ">
             
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig mt-3 px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase m-2 p-5 animated slideInDown " style="color: var(--primary);">20K+ Students<br><small>have been studied and placed.</small></h6>
            </div>  
            <div class="col-lg-6 col-md-6 wow fadeInRightBig px-0 py-0 my-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center">Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div> 
        </div>
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-6 wow fadeInRightBig my-0 mt-3 px-0 py-0" data-wow-delay="0.1s" style="height: 500px !important;overflow: hidden;">
                <h6 class="text-primary text-center text-uppercase justify-content-center m-2 p-5" style="color: var(--primary);">Live online classes <br><small>allow students to interact with their instructors in real time</small> </h6>
            </div>  
            
            <div class="col-lg-6 col-md-6 wow fadeInLeftBig my-0 px-0 py-0" data-wow-delay="0.1s" style="height: 500px !important; overflow: hidden;">
                <p class="mt-4 p-3 text-light justify-content-center" >Qui accusantium deleniti et vero deserunt et tenetur voluptatum non mollitia asperiores.
          
                  Id animi Quis et rerum reprehenderit rem molestiae debitis id obcaecati harum! 33 consequatur recusandae qui ipsam quisquam et deserunt consequuntur nam fugit nemo?
                  
                  Ut tenetur cupiditate qui distinctio esse sit dolores possimus. Ut fugit debitis rem soluta animi sit omnis nulla.</p>
            </div> 
           
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Team Start -->
<div class="container-xxl py-2">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="mb-5">Expert Instructors</h3>
        </div>
        <div class="row g-4">
            {% for m in mentors %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        {% if m.image %}
                            <img src="{{ m.image.url }}" class="img-fluid" >
                        {% endif %}
                    </div>
                    
                    <div class="text-center p-4">
                        <h5 class="mb-0">{{m.name}}</h5>
                        {% if m.designation is not None %}
                            <small>{{m.designation}}</small> 
                        {% else %}
                            <div style="height: 24px;"><small></small></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

    
        <script>
             $(document).ready(function(){


                $('#video-carousel').on('slide.bs.carousel', function () {
                var video = $('video:visible')[0]; 
                if (video) {
                    video.pause();
                }
                });


                var videoPlaying = false;
                var video = $('video:visible')[0];
                if (video && !video.paused) {
                videoPlaying = true;
                }
                $('#video-carousel').on('slid.bs.carousel', function () {
                video = $('video:visible')[0];
                if (video && !video.paused) {
                    videoPlaying = true;
                } else {
                    videoPlaying = false;
                }
                });
                $('#video-carousel').on('slide.bs.carousel', function (e) {
                if (videoPlaying) {
                    e.preventDefault(); 
                }
                });
                $('#video-carousel').carousel();
                });



            
//   Service 1 
   
    const element1 = $('.service1');
    const modalPopup1 = $('.modal1');
    element1.click(  
        function() {
            setTimeout(function() {
                modalPopup1.show();
            }, 100);
        });
        
    
    element1.mouseout(  
        function() {
            modalPopup1.hide();
        }
    
    );
    modalPopup1.mouseout(  
        function() {
            modalPopup1.hide();
        }
    );
    



// Servce 2

    const element2 = $('.service2');
    const modalPopup2 = $('.modal2');
    element2.click(  
        function() {
            setTimeout(function() {
                modalPopup2.show();
            }, 100);
        });
        
    
    element2.mouseout(  
        function() {
            modalPopup2.hide();
        }
    );
    modalPopup2.mouseout(  
        function() {
            modalPopup1.hide();
        }
    );


// Servce 3

    const element3 = $('.service3');
    const modalPopup3 = $('.modal3');
    element3.click(  
        
        function() {
            console.log(" 3 clicked");
            setTimeout(function() {
                modalPopup3.show();
            }, 100);
        });
        
    
    element3.mouseout(  
        function() {
            modalPopup3.hide();
        }
    );
    modalPopup3.mouseout(  
        function() {
            modalPopup1.hide();
        }
    );

    // Servce 4

    const element4 = $('.service4');
    const modalPopup4 = $('.modal4');
    element4.click(  
        function() {
            setTimeout(function() {
                modalPopup4.show();
            }, 100);
        });
        
    
    element4.mouseout(  
        function() {
            modalPopup4.hide();
        }
    );

    modalPopup4.mouseout(  
        function() {
            modalPopup1.hide();
        }
    );
        </script>

    {% endblock %}
