{% extends 'base.html'%}
{% block content %}
{% load static %}

<link href="static/img/favicon.ico" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<style>
    h1{
        color: var(--light);
    }
    p, li,small{
        font-size: 18px;
        text-align: justify;
        text-justify: distribute;
    }
    .course-item{

        height: 750px !important;
        overflow:scroll;
    }
    @media (min-width: 600px)and ( max-width:1000px) {

        .course-item{
            height: 625px !important;
            overflow:scroll;        
        }
    }
    @media (min-width: 300px)and ( max-width:800px) {

        .course-item{
            height: 650px !important;
            overflow:scroll;
    }
    }

</style>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-0 ">
            <nav class ="breadcrumb" aria-label="breadcrumb justify-content-right" >
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index'  %}">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center wow fadeInUp">
                    <h6 class="section-title bg-dark text-center text-primary px-3">Courses</h6>
                    <h1 class="mb-5">On the Job Training</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container justify-content-between">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <!-- <h6 class="section-title bg-white text-justify text-primary px-3">Courses</h6>
            <h1 class="mb-5">On the Job Training</h1> -->
            <!-- <hr> -->
            <p class=" text-light mt-1 p-3" style="text-align: justify;text-justify: distribute; font-size: 20px; font-family: 'Nunito',sans-serif;">
                Welcome to Altos Eduhub - the premier software training company in Kerala, and a subsidiary of
                Altos Technologies - one of the leading software development companies in Kochi. We offer a
                range of on-the-job training programs in Python, React JS, Front End Development, REST API,
                and Digital Marketing. Our courses are designed to equip you with the skills and knowledge you
                need to succeed in the competitive world of software development.
                <p class="p-1" style="text-align: justify;text-justify: distribute; font-size: 20px; font-family: 'Nunito',sans-serif;">
                Our training programs are six months in duration, with the first three months focused on
                fundamental training and the remaining three months dedicated to practical work on live
                projects. Upon successful completion of the training, you will receive an experience certificate.
                For Python training, we also offer guaranteed placement at Altos Technologies, while for other
                programs, we provide placement assistance.</p>
                <p class="mb-5 p-1" style="text-align: justify;text-justify: distribute; font-size: 20px; font-family: 'Nunito',sans-serif;">
                To ensure the best possible training experience for our candidates, we have implemented
                several measures. As a part of our training program, we provide candidates with access to Altos
                core software, where they can update their tasks and track their work status efficiently.
                Additionally, we conduct weekly meetings for each of the candidates to evaluate their work and
                performance. We believe in providing continuous support to our candidates and offer a doubt
                clearing section that is available 24 hours a day, seven days a week.
            </p>
        </div>

        <style>
            .points ul {
                list-style-type: none;
            }
            .points ul li{
                color: var(--light);
            }
            .points ul li::before {
                content: "-►";
                color: var(--primary);
                font-size: 20px;
                margin-right: 5px;
            }
        </style>
        <div class="text-center animated slideInRight points" data-wow-delay="0.1s">
            <h3 class="mb-5 animated slideInLeft">Why Altos Eduhub ?</h3>
            <hr>
            <div class="row gy-2 gx-4 mb-5 " >
                    
                <div class="col-sm-6 text-center m-0 p-0" style="margin-right: 0;">
                    <ul>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Experience certificate upon successful completion of training</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Assured placement assistance for certain programs</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">24-hour doubt clearing assistance for all candidates</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Training on live projects to gain hands-on experience</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Career development guidance to help candidates achieve their career goals</li>
                    </ul>
                </div>
                <div class="col-sm-6 text-center m-0 p-0" style="margin-left: 0;">
                    <ul>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Highly experienced trainers with years of industry experience</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Access to Altos core software for tracking training progress and work status</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Weekly meetings to evaluate work and performance</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Convenient EMI payment options for training program fees</li>
                        <li class="p-1" style="text-align: justify;text-justify: distribute ;">Located in Infopark, Kochi - a premier technology park with state-of-the-art facilities</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row g-4  justify-content-center" >
            <div class="text-center wow fadeInLeftBig">
                <h3 class="mb-5">Offered Courses</h3>
            </div>
            <hr>
            {% for c in courses %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" >
                <div class="course-item bg-light">
                   
                    <div class="position-relative overflow-hidden">

                        {% if c.image %}
                            <img src="{{ c.image.url }}" class="img-fluid" style="width:500px; height: 235px !important;">
                        {% endif %}

                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                      
                        <h4 class="mb-1 text-center ">{{c.course_name}}  </h4>
                        
                        <p class="mb-2 p-2">{{c.description}}Some of the tools and technologies that can be
                            offered as part of the program are:
                            </p>
                        <ol>
                            {% for s in c.course_description_list_set.all %}
                                <li>{{ s.list_item }}</li>
                            {% endfor %}
                        </ol>
                        <h5 class="mb-1 text-left"><b>Course Fee:</b>{%if c.fee is not None %} ₹{{c.fee}}.00 {% endif %}</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-3"><b>Next Batch </b> <br>{%if c.start_date is not None %} {{c.start_date}} {% endif %}</small>
                        <small class="flex-fill text-center border-end py-3"><b>Duration  </b> <br>{%if c.duration is not None %} {{c.duration}} {% endif %}</small>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
           

        </div>
    </div>
</div>
<!-- Courses End -->



        
    {% endblock %}