{% extends 'base.html'%}
{% block content %}
{% load static %}

<link href="static/img/favicon.ico" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<style>
    h1{
        color: var(--light);
    }
</style>
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'index'  %}">Home</a></li>
                            <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


<!-- Categories Start -->
<!-- <div class="container-xxl py-5 category">
    <div class="container justify-content-center">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-9 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-1.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Web Design</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-2.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Python Training</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-3.avif" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">React JS</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-4.png" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Machine Learning</h5>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div> -->
<!-- Categories Start -->


<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container justify-content-between">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">On the Job Training</h1>
            <hr>
            <p class=" text-light mt-3 p-1">
                Welcome to Altos Eduhub - the premier software training company in Kerala, and a subsidiary of
                Altos Technologies - one of the leading software development companies in Kochi. We offer a
                range of on-the-job training programs in Python, React JS, Front End Development, REST API,
                and Digital Marketing. Our courses are designed to equip you with the skills and knowledge you
                need to succeed in the competitive world of software development.
                <p class="p-1">
                Our training programs are six months in duration, with the first three months focused on
                fundamental training and the remaining three months dedicated to practical work on live
                projects. Upon successful completion of the training, you will receive an experience certificate.
                For Python training, we also offer guaranteed placement at Altos Technologies, while for other
                programs, we provide placement assistance.</p>
                <p class="mb-5 p-1">
                To ensure the best possible training experience for our candidates, we have implemented
                several measures. As a part of our training program, we provide candidates with access to Altos
                core software, where they can update their tasks and track their work status efficiently.
                Additionally, we conduct weekly meetings for each of the candidates to evaluate their work and
                performance. We believe in providing continuous support to our candidates and offer a doubt
                clearing section that is available 24 hours a day, seven days a week.
            </p>
        </div>
        <div class="text-center animated slideInRight" data-wow-delay="0.1s">
            <h1 class="mb-5">Why Altos Eduhub ?</h1>
            <hr>
            <div class="row gy-2 gx-4 mb-5 " >
                    
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Experience certificate upon successful completion of training</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Assured placement assistance for certain programs</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24-hour doubt clearing assistance for all candidates</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Training on live projects to gain hands-on experience</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Career development guidance to help candidates achieve their career goals</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Highly experienced trainers with years of industry experience</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Access to Altos core software for tracking training progress and work status</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Weekly meetings to evaluate work and performance</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Convenient EMI payment options for training program fees</p>
                </div>
                <div class="col-sm-6 text-start">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Located in Infopark, Kochi - a premier technology park with state-of-the-art facilities</p>
                </div>
            </div>
        </div>
        <div class="row g-4  justify-content-center" >
            <div class="text-center wow fadeInLeftBig">
                <h1 class="mb-5 ">Offered Courses</h1>
            </div>
            <hr>
            {% for c in courses %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" >
                <div class="course-item bg-light">
                   
                    <div class="position-relative overflow-hidden">
                        {% if c.image %}
                        <img src="{{ c.image.url }}" class="img-fluid" >
                        
                        {% endif %}
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                      
                        <h4 class="mb-1 text-center ">{{c.course_name}}  </h4>
                        
                        <p class="mb-2 p-2">{{c.description}}Some of the tools and technologies that can be
                            offered as part of the program are:
                            </p>
                        <ol>
                            {% for li in c.course_description_list_set.all %}

                            <li>{{ li.list_item }}</li>

                            {%endfor %}
                        </ol>
                        <h5 class="mb-1 text-center"><b>Course Fee:</b>{%if c.fee is not None %} ₹{{c.fee}}.00 {% endif %}</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-3"><b>Next Batch </b> <br>{%if c.start_date is not None %} {{c.start_date}} {% endif %}</small>
                        <small class="flex-fill text-center border-end py-3"><b>Duration  </b> <br>{%if c.duration is not None %} {{c.duration}} {% endif %}</small>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
           

        </div>
    </div>
</div>
<!-- Courses End -->



        
    {% endblock %}