{% extends 'base.html'%}
{% block content %}
{% load static %}

 
<style>
    .modal p{
        color: black;
        font-weight: 600;
    }
    .video-icon a iframe i {
    font-size: 20px;
    font-size: 20px;
    line-height: 1;
    position: relative;
    right: -2px;
    top: 2px;
    z-index: 1;
    color: #06BBCC;
    }

    .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

/* Styles for the columns on small screens */
@media (max-width: 576px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Styles for the columns on medium screens */
@media (min-width: 576px) and (max-width: 768px) {
  .col-md-4 {
    width: 50%;
    margin-bottom: 10px;
  }
}

/* Styles for the columns on large screens */
@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33%;
    margin-bottom: 0;
  }
}

.service-item h5{
    color: #181d38;
}

/* modal */
 h2{
        color:var(--dark);
        margin-left: 200px;
        top:0;
    }

        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 450px;
            top: 150px;
            width: 600px;
            height: 450px;
            overflow: hidden;
            border-radius: 10px 10px 10px 10px;
            box-shadow: -1px -1px 4px #aaa9a9a2,
              1px 1px 7px rgba(147, 149, 151, 0.671);
            }

        .modal-content {
            /* background-color: rgba(20, 20, 20, 0.805); */
            background: var(--light);
            margin: auto;
            padding: 0px;
            /* border-radius: 10%; */
            width: 100%;
            max-width: 600px;
            min-height: 800px;
            
            }

        .close {
            color: var(--dark);
            float: right;
            font-size: 28px;
            font-weight: bold;
            padding: auto;
            }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
            }

            /* Media queries */
            @media screen and (max-width: 768px) {
            .modal-content {
                width: 90%;
                max-width: 400px;
                margin:auto;
            }
           
            }

            @media screen and (max-height: 450px) {
            .modal-content {
                margin-top: 10px;
                min-height: 100px;
                margin:auto;

            }
            
            }

            form {
            max-width: 600px;
            margin: 0 auto;
            }
            .form-group {
                display: flex;
                align-items: center;
                }

             label{
                margin-right: 10px;
                color: black;
                display: flex;
                margin-bottom: 10px;
            
            } 
             input, textarea {
                display: flex;
                width: 150px;
                margin-bottom: 10px;
            }

            input[type="submit"] {
            /* background-color: #4CAF50; */
            color: #F0FBFC;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
            }

@media screen and (min-width: 600px) {
    label {
    
    display: inline-block;
    vertical-align: top;
  }
  input, textarea {
    
    display: inline-block;
    vertical-align: top;
    width: 250px;
  }
}


.container1 {
 width: 28vmin;
 height: 28vmin;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding: 1em 0;
 position: relative;
 font-size: 16px;
 /* border-radius: 0.5em; */
 backdrop-filter: blur(10px);
 box-shadow: -1px -1px 4px #aaa9a9a2,
              1px 1px 7px rgba(147, 149, 151, 0.671);
 background: #F0FBFC;
}
.container1:hover {
 width: 28vmin;
 height: 28vmin;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding: 1em 0;
 position: relative;
 font-size: 16px;
 border-radius: 0.5em;
 backdrop-filter: blur(10px);
 box-shadow: -1px -1px 4px #aaa9a9a2,
              1px 1px 7px rgba(147, 149, 151, 0.671);
 background: #06BBCC;
}

.container1 i {
 color: #42f9e8;
 font-size: 3.8em;
 text-align: center;
}
span.num {
 color: #181d38;
 display: grid;
 place-items: center;
 font-weight: 600;
 font-size: 3em;
}
span.text {
 color: #181d38;
 font-size: 1em;
 text-align: center;
 pad: 0.7em 0;
 font-weight: 400;
 line-height: 0;
}

@media screen and (max-width: 1024px) {
.counter {
 width: 85vw;
}
.container1 {
 height: 26vmin;
 width: 26vmin;
 font-size: 12px;
}
span.num {
 color: #181d38;
 display: grid;
 place-items: center;
 font-weight: 600;
 font-size: 5em;
}
span.text {
 color: #181d38;
 font-size: 2em;
 text-align: center;
 pad: 0.7em 0;
 font-weight: 400;
 line-height: 0;
}
}
@media screen and (max-width: 768px) {
.counter {
  width: 90vw;
  flex-wrap: wrap;
  gap: 30px;
}
.container1 {
  width: calc(50% - 40px);
  height: 30vmin;
  margin-bottom: 25px;
  font-size: 14px;
}
span.num {
 color: #181d38;
 display: grid;
 place-items: center;
 font-weight: 600;
 font-size: 5em;
}
span.text {
 color: #181d38;
 font-size: 2em;
 text-align: center;
 pad: 0.7em 0;
 font-weight: 400;
 line-height: 0;
}
}
@media screen and (max-width: 480px) {
.counter {
  gap: 15px;
}
.container1 {
  width: 100%;
  height: 25vmin;
  font-size: 8px;
  margin-bottom: 25px;
}
span.num {
 color: #181d38;
 display: grid;
 place-items: center;
 font-weight: 600;
 font-size: 5em;
}
span.text {
 color: #181d38;
 font-size: 2em;
 text-align: center;
 pad: 0.7em 0;
 font-weight: 400;
 line-height: 0;
}
}

/* end counter section */

.whatsapp{
    size: 120px;
    height: 20px;
    width: 20px;
}

    h1{
            color: var(--light);
        }
</style>

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="static/img/hero1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .9);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Best Software Training Institute of Kochi</h1>
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Get the best software training of Kochi for better career</h5>
                            <!-- <p class="fs-5 text-white mb-4 pb-2">We are focused on providing advanced level software training like Big Data Training, Hadoop Training, Data Science Training, Python Training, Machine Learning Training, Selenium Training in Cochin Kerala.</p> -->
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a> 
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="static/img/hero2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .9);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <!-- <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5> -->
                            <h1 class="display-3 text-white animated slideInDown">Why do you choose Altos Software Institute ?</h1>
                            <p class="fs-5 text-white mb-4 pb-2">&#10004; &nbsp;&nbsp; Infopark based No.1 Professional Training Center.</p>
                            <p class="fs-5 text-white mb-4 pb-2"> &#10004; &nbsp;&nbsp; Our Students are Well Placed across the Globe.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a> 
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Modal start -->

<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 class=" p-3">Updates</h2>
      
      <p class="m-2">Great Things Are Happening</p>
      <h5 class="text-primary text-uppercase mb-3 animated slideInDown m-2" style="color: var(--dark);">Sign up and be the first to know</h5>
      <hr style="color:grey">
      <form action="{% url 'subscribe' %}" method="post" class="p-3">
        {% csrf_token %}
        <!-- <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div> -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <!-- <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
        </div> -->

        <input type="submit" class="btn btn-dark py-md-3 px-md-5 animated slideInRight" style="margin-left: 50px;" value="Signup">
      </form>
      
    </div>
  </div>
<!-- Modal end -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3 " >Skilled Instructors</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Classes</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Home Projects</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fas fa-chair text-primary mb-4" style="font-size: 50px;"></i>
                        <h5 class="mb-3">Placement Assistance</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <div id="video-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <iframe id="video1" width="100%" height="400" src="https://www.youtube.com/embed/Br-rP0tQnuE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; muted; loop;" allowfullscreen></iframe>
                          </div>
                          <div class="carousel-item">
                            <iframe id="video1" width="100%" height="400" src="https://www.youtube.com/embed/cdZHQFCqK3g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; muted; loop;" allowfullscreen></iframe>
                           </div>
                          <div class="carousel-item">
                            <iframe id="video1" width="100%" height="400" src="https://www.youtube.com/embed/Fy5cFfdZ4p4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; muted; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                          </div>
                        </div>
                      </div>
                    
            
                      <a class="carousel-control-prev" href="#video-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#video-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
  
                    <!-- <img class="img-fluid position-absolute w-100 h-100" src="static/img/about.jpg" alt="" style="object-fit: cover;"> -->
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to Altos Software Institute</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-1.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Web Design</h5>
                                <!-- <small class="text-primary">49 Courses</small> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-2.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Python Training</h5>
                                <!-- <small class="text-primary">49 Courses</small> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="static/img/cat-3.avif" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">React JS</h5>
                                <!-- <small class="text-primary">49 Courses</small> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="static/img/cat-4.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">Machine Learning</h5>
                        <!-- <small class="text-primary">49 Courses</small> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Categories Start -->


<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container justify-content-between">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Popular Courses</h1>
        </div>
        <div class="row g-4  justify-content-center" >
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" >
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/course-1.png" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <!-- <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div> -->
                        <h4 class="mb-1 ">Asp.net MVC with Angular - Full Stack  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</h4>
                        <p class="mb-2 ">C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC</p>
                        <h5 class="mb-1 text-center"><b>Course Fee:</b>₹15000.00</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-3"><b>Next Batch </b> <br>Cochin : April 10th 2023 (Offline & Online)
                            <br>Calicut : Mar 22nd 2023 (Offline Only)</small>
                        <small class="flex-fill text-center border-end py-3"><b>Duration  </b> <br>Months, 5 Days a Week, 2 Hours/day</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp " data-wow-delay="0.3s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/course-2.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <!-- <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div> -->
                        <h4 class="mb-1 ">MEA(R)N Stack Web Development Expert - Angular & React</h4>
                        <p class="mb-2 ">HTML, CSS, Bootstrap, Javascript, Typescript, Git, Angular, React.js, Node.js, Express.js & MongoDB  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <h5 class="mb-1 text-center"><b>Course Fee:</b>₹25000.00</h5>

                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-3"><b>Next Batch </b> <br>Cochin : April 10th 2023 (Offline & Online)
                            <br>Calicut : Mar 22nd 2023 (Offline Only)</small>
                        <small class="flex-fill text-center border-end py-3"><b>Duration  </b> <br>Months, 5 Days a Week, 2 Hours/day</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp " data-wow-delay="0.3s" >
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/course-2.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <!-- <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div> -->
                        <h4 class="mb-1 ">Data Science - ML - AI - Big Data with Cloud & TABLEAU</h4>
                        <p class="mb-2 ">Python, Hadoop, Spark, Data Analytics, Linear Algebra, Statistics, Probability Concepts, Machine Learning, Deep Learning,</p>
                        <h5 class="mb-1 text-center"><b>Course Fee:</b>₹35000.00</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-3"><b>Next Batch </b> <br>Cochin : April 10th 2023 (Offline & Online)
                            <br>Calicut : Mar 22nd 2023 (Offline Only)</small>
                        <small class="flex-fill text-center border-end py-3"><b>Duration  </b> <br>Months, 5 Days a Week, 2 Hours/day</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/course-3.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h4 class="mb-1 ">Software Testing Specialist  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        <p class="mb-2 ">Manual Testing , Java foundations, Mobile Testing, Automation Testing, Selenium IDE, Selenium Web driver, Selenium Advanced</p>
                        <h5 class="mb-1 text-center"><b>Course Fee:</b>₹20000.00</h5>
                    </div>
                   
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-3"><b>Next Batch </b> <br>Cochin : April 10th 2023 (Offline & Online)
                            <br>Calicut : Mar 22nd 2023 (Offline Only)</small>
                        <small class="flex-fill text-center border-end py-3"><b>Duration  </b> <br> Months, 5 Days a Week, 2 Hours/day</small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Courses End -->

<!-- Counter Section -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Numbers</h6>
            <h1 class="mb-5">We Take Pride in Our Numbers</h1>
        </div>
        <div class="row counter g-4">
            <div class="container1">
                <img src="{% static 'img/success.png'%}" width="50px" height="50px" style="margin-left: 40%;">
                <span class="num" data-val="10">000</span>
                <span class="text">Years of Experience</span>
            </div>
            <div class="container1">
                <img src="{% static 'img/job.png'%}" width="50px" height="50px" style="margin-left: 40%;">
                <span class="num" data-val="500">000</span>
                <span class="text">Placements</span>
            </div>
            <div class="container1">
                <img src="{% static 'img/training.png'%}" width="50px" height="50px" style="margin-left: 40%;">
                <span class="num" data-val="100">000</span>
                <span class="text">Faculties</span>
            </div>
            <div class="container1">
                <img src="{% static 'img/learning.png'%}" width="50px" height="50px" style="margin-left: 40%;">
                <span class="num" data-val="50">000</span>
                <span class="text">Courses</span>
            </div>
        </div>
    </div>
</div>


<!-- Counter Section End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
            <h1 class="mb-5">Expert Instructors</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="static/img/team-1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="static/img/team-2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="static/img/team-3.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="static/img/team-4.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Instructor Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script>
    window.onload = function() {
      setTimeout(function() {
            var modal = document.getElementById("myModal");
            var close = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            close.onclick = function() {
            modal.style.display = "none";
            }
        }, 5000); 
    };


    let valueDisplays = document.querySelectorAll(".num");
    let interval = 4000;
    valueDisplays.forEach((valueDisplay) => {
    let startValue = 0;
    let endValue = parseInt(valueDisplay.getAttribute("data-val"));
    let duration = Math.floor(interval / endValue);
    let counter = setInterval(function () {
        startValue += 1;
        valueDisplay.textContent = startValue;
        if (startValue == endValue) {
        clearInterval(counter);
        }
    }, duration);
    });

                      
  $(document).ready(function(){


    $('#video-carousel').on('slide.bs.carousel', function () {
      var video = $('video:visible')[0]; // get the currently visible video
      if (video) {
        video.pause(); // pause the video if it's playing
      }
    });


    var videoPlaying = false;
    var video = $('video:visible')[0];
    if (video && !video.paused) {
      videoPlaying = true;
    }
    $('#video-carousel').on('slid.bs.carousel', function () {
      video = $('video:visible')[0];
      if (video && !video.paused) {
        videoPlaying = true;
      } else {
        videoPlaying = false;
      }
    });
    $('#video-carousel').on('slide.bs.carousel', function (e) {
      if (videoPlaying) {
        e.preventDefault(); // prevent the carousel from sliding
      }
    });
    $('#video-carousel').carousel();
  });



</script>

    {% endblock %}
